.form-container {
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
  padding: 25px;
  background: white;
  box-shadow: 0 0 10px gray;
  border-radius: 8px;
  overflow: hidden;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 4px 0;
}

input,
textarea,
select {
  padding: 10px;
  color: black;
  background-color: aliceblue;
  width: 100%;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 12px;
  background: #014b73;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
}

button:hover {
  background: #355c7d;
}

@media (max-width: 600px) {
  .form-container {
    margin: 15px auto;
    padding: 15px;
  }

  .form-container h1 {
    font-size: 20px;
  }

  input,
  textarea,
  select,
  button {
    font-size: 14px;
  }
}